/* Generelle definitioner */
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, Arial, sans-serif, Helvetica;

}


/* The grid container */
.grid-container {
    display: grid;
    grid-template-areas:
                'header header header header header header'
                'middle middle middle middle middle middle'
                'footer footer footer footer footer footer';
}

.header {
    grid-area: header;
}

.middle {
    grid-area: middle;
}

.footer {
    grid-area: footer;
}

/* Responsive */
@media (max-width: 600px) {
    .grid-container  {
        grid-template-areas:
                'header header header header header header'
                'middle middle middle middle middle middle'
                'footer footer footer footer footer footer';
    }
}


body {
    font-family: Arial, Helvetica, sans-serif;

    background-color: #0ba8cb;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* header definitioner */
header {
    text-align: center;
}

header h1{
    font-size: 75px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000000;
    padding-top: 10px;

}

header h1 img {
    width: 75px;
    height: 75px;
}

/* main definitioner */
main{
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}


form {border: 3px solid #ffffff;}

input[type=text], input[type=licenceNr] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4cea56;
    color: #000000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
    text-align: left;

}

/* footer definitioner */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0ba8cb;
    color: black;
    text-align: center;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* -v- POP UP CSS -v- */
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}