<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Intec</title>

  <link rel="stylesheet" type="text/css" href="styleSheet.css">




  <script th:inline="javascript">
    function confirmProceed(isConfirm) {
      if (isConfirm) {
        console.log("user confirmed")
        document.getElementById('checkIn').submit();
      } else {
        document.getElementById('errorMessage').textContent = "Name and license do not match";
        document.getElementById('fName').value = "";
        document.getElementById('lName').value = "";
        document.getElementById('licenceNr').value = "";
        document.getElementById('company').value = "";
        console.log("User canceled.");
      }
    }
  </script>

  <style>
    .error-message {
      color: red;
    }
  </style> <!-- skal rykkes i css... -->



</head>
<body>
<div class="grid-container">
  <header class="header">
    <h1><img class="headerIcon"  src="packageLogo.png">Intec</h1></header>

  <main class="middle">
    <h2>Check in below</h2>

    <form id="checkIn" method="post" action="/">
      <div class="container">

        <label><b>First name</b></label>
        <input type="text" placeholder="Enter first name" name="fName" required>

        <label><b>Last Name</b></label>
        <input type="text" placeholder="Enter last name" name="lName" required>

        <label><b>Licence Number</b></label>
        <input type="text" placeholder="Enter Licence Number" name="licenceNr">

        <label for="company-pick"><b>Firma:</b></label><br>
        <input list="companies" id="company-pick" name="company" style="height: 40px; width: 100%;">

        <datalist id="companies">
          <option value="GLS">
          <option value="DHL">
          <option value="DSV">
        </datalist>

        <br><br>

        <input type="hidden" th:if="${isConfirm}" name="isConfirm" value="true" />
        <button th:if="${isConfirm}" onclick="confirmProceed()">Submit</button>
        <button type="submit" onclick="return confirmProceed([[${isConfirm}]]);">Check in</button>
        <p id="errorMessage" class="error-message"></p> <!-- snakker med css 'error-message' -->
      </div>
    </form>
  </main>

  <footer class="footer">
    <p>&copy; 2023 Intec</p>
  </footer>
</div>

</body>
</html>











