<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Intec</title>

  <link rel="stylesheet" type="text/css" href="styleSheet.css">

    <style>
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {

            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            right: 0;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {background-color: #f1f1f1;}

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>

</head>
<body>



<div class="grid-container">
    <div class="dropdown">
        <button class="dropbtn">Language</button>
        <div class="dropdown-content">
            <button onclick="translateLabelsToDanish()">Danish</button>
            <button onclick="translateLabelsToEnglish()">English</button>
        </div>
    </div>


  <header class="header">
    <h1><img class="headerIcon"  src="packageLogo.png">Intec</h1></header>



  <main class="middle">
      <h2>Check in below</h2>

    <form id="myForm" method="post" action="/">
        <div class="container">

            <label for="fNameField">First Name:</label>
            <input type="text" placeholder="Enter first name" id="fNameField" name="fName" required>

            <label for="lNameField">Last Name:</label>
            <input type="text" placeholder="Enter last name" id="lNameField" name="lName" required>

            <label for="licenceNumber">Licence Number:</label>
            <input type="licenceNr" placeholder="Enter Licence Number" id="licenceNumber" name="licenceNr" required>

            <label for="companyField">Company:</label>
            <input list="companies" placeholder="Enter Company Name" id="companyField" name="company" style="height: 40px; width: 100%;">

            <input type="checkbox" id="consent" name="consent" value="Consent" required>
            <label for="consent"> I have read and agree to the <a href="https://www.datatilsynet.dk/hvad-siger-reglerne/grundlaeggende-begreber/hvad-er-dine-forpligtelser/de-grundlaeggende-principper-">Datatilsynet.dk</a></label><br>

            <input type="hidden" id="location" name="location" readonly>
            <input type="hidden" id="country" name="country" readonly>

        <datalist id="companies">
          <option value="GLS">
          <option value="DHL">
          <option value="DSV">
        </datalist>
        <br><br>
            <button type="submit" id="submitButton">Check In</button>
    </div>
    </form>

  </main>

  <footer class="footer">
    <p>&copy; 2023 Intec</p>
  </footer>
</div>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var locationInput = document.getElementById('location');
    locationInput.value = sessionStorage.getItem('cityLocation');

    // Call the function to get the public IP address when the page loads
    document.addEventListener("DOMContentLoaded", function(event) {
        executeOnce();
    });

    function executeOnce() {
        if (!sessionStorage.getItem('functionExecuted')) {
            getPublicIPAddress(function(ipAddress) {
                getCurrentLocation(ipAddress);
            });

            sessionStorage.setItem('functionExecuted', 'true');
        } else {
            changeLanguageFromLokation();
        }
    }

    function getPublicIPAddress(callback) {
        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    var ipAddress = xhr.responseText;

                    callback(ipAddress);
                } else {
                    // Handle error...
                }
            }
        };

        xhr.open('GET', 'https://api.ipify.org');
        xhr.send();
    }

    async function getCurrentLocation(ipAddress) {
        var ip = ipAddress;
        var access_key = 'c975032d08c59b9abaf57d89519e9b66';

        try {
            const response = await fetch('http://api.ipstack.com/' + ip + '?access_key=' + access_key);
            const data = await response.json();

            locationInput.value = data.city;
            sessionStorage.setItem('cityLocation', locationInput.value);

            var countryInput = document.getElementById('country');
            countryInput.value = data.country_code;
            sessionStorage.setItem('countryLocation', countryInput.value);

            changeLanguageFromLokation();
        } catch (error) {
            console.error(error);
        }
    }

    //Her er det meningen at vi skal bruge lokationen til at angive sproget af hjemmesiden
    function changeLanguageFromLokation() {
        var countryCode = sessionStorage.getItem('countryLocation');

        // Translate form labels based on the detected language
        if (countryCode === 'US') {
            translateLabelsToEnglish();
        } else if (countryCode === 'DK') {
            translateLabelsToDanish();
        } else {
            // Default translation for other languages
            translateLabelsToDefault();
        }
    }

    function translateLabelsToEnglish() {
            $('h2').text('Check in below');
            $('#fNameField').prev('label').text('First name:');
            $('#fNameField').attr('placeholder', 'Enter your first name');

            $('#lNameField').prev('label').text('Last Name:');
            $('#lNameField').attr('placeholder', 'Enter your last name');

            $('#licenceNumber').prev('label').text('Licence Number:');
            $('#licenceNumber').attr('placeholder', 'Enter your Licence Number');

            $('#companyField').prev('label').text('Company:');
            $('#companyField').attr('placeholder', 'Enter company name');
            $('#submitButton').text('Submit');
    }

    function translateLabelsToDanish() {
            $('h2').text('Tjek ind nedenunder');
            $('#fNameField').prev('label').text('Fornavn:');
            $('#fNameField').attr('placeholder', 'Indtast dit fornavn');

            $('#lNameField').prev('label').text('Efternavn:');
            $('#lNameField').attr('placeholder', 'Indtast dit efternavn');

            $('#licenceNumber').prev('label').text('Licence nummer:');
            $('#licenceNumber').attr('placeholder', 'Indtast dit licence nummer');

            $('#companyField').prev('label').text('Firma:');
            $('#companyField').attr('placeholder', 'Indtast firma navn')
            $('#submitButton').text('Bekræft');
    }

    function translateLabelsToDefault() {
            // Default translation for other languages
            $('h2').text('Check in below');
            $('#fNameField').prev('label').text('First name:');
            $('#fNameField').attr('placeholder', 'Enter your first name');

            $('#lNameField').prev('label').text('Last Name:');
            $('#lNameField').attr('placeholder', 'Enter your last name');

            $('#licenceNumber').prev('label').text('Licence Number:');
            $('#licenceNumber').attr('placeholder', 'Enter your Licence Number');

            $('#companyField').prev('label').text('Company:');
            $('#companyField').attr('placeholder', 'Enter company name');
            $('#submitButton').text('Submit');
    }

</script>


</body>
</html>











