<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Intec</title>

  <link rel="stylesheet" type="text/css" href="styleSheet.css">

</head>

<body>
<div class="grid-container">
  <header class="header">
    <h1><img class="headerIcon"  src="packageLogo.png">Intec</h1></header>

  <main class="middle">
    <h2>Check ind eller ud nedenunder</h2>

    <form method="post" action="/">
      <div class="container">
        <label><b>Fornavn</b></label>
        <input type="text" placeholder="Enter fornavn" name="fName" required>

        <label><b>Efternavn</b></label>
        <input type="text" placeholder="Enter efternavn" name="lName" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter password" name="password" required>

        <button type="submit">Check Ind/Ud</button>
      </div>
    </form>
  </main>

  <footer class="footer">
    <p>&copy; 2023 Intec</p>
  </footer>
</div>

</body>
</html>











