<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intec</title>

    <link rel="stylesheet" type="text/css" href="styleSheet.css">

</head>

<body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="grid-container">
    <header class="header">
        <h1><img class="headerIcon"  src="packageLogo.png">Intec</h1></header>

    <main class="middle">
        <h2>Check in below</h2>
        <form id="myForm" method="post" action="/">
            <div class="container">

                <label for="fNameField">First Name:</label>
                <input type="text" placeholder="Enter first name" id="fNameField" name="fName" required>

                <label for="lNameField">First Name:</label>
                <input type="text" placeholder="Enter last name" id="lNameField" name="lName" required>

                <label for="licenceNumber">Licence Number:</label>
                <input type="licenceNr" placeholder="Enter Licence Number" id="licenceNumber" name="licenceNr" required>

                <label for="companyField">Company:</label>
                <input list="companies" placeholder="Enter Company Name" id="companyField" name="company" style="height: 40px; width: 100%;">

                <input type="hidden" id="location" name="location" readonly>

                <datalist id="companies">
                    <option value="GLS">
                    <option value="DHL">
                    <option value="DSV">
                </datalist>
                <br><br>

                <button type="submit" id="submitButton">Check In</button>

            </div>
        </form>
    </main>


    <footer class="footer">
        <p>&copy; 2023 Intec</p>
    </footer>
</div>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>


    var valueIP;
    var locationInput = document.getElementById('location');

    getPublicIP();

    //Meningen med funktionen er at få den nuvæernde public ip adress fra uicontroller og bruge den her til at finde lokationen i forbindelse med sprog og checkin
    function getPublicIP() {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                valueIP = xhr.responseText;
                console.log(valueIP); // Output: Hello from Java!

                getCurrentLocation();
            }
        };
        xhr.open("GET", "/getPublicIP", true);
        xhr.send();
    }

    //Her er det meningen at vi skal bruge ipen vi fik før til at finde lokationen og det gør vi ved brug af geoIP
    function getCurrentLocation() {
        var ip = valueIP;
        var access_key = 'c975032d08c59b9abaf57d89519e9b66';

        // Make the API request via jQuery.ajax
        $.ajax({
            url: 'http://api.ipstack.com/' + ip,
            data: {
                access_key: access_key
            },
            dataType: 'json',
            success: function (response) {

                //Her er det meningen at vi finder lokationen og putter valuen ind i locationen i formen så den kan blive sendt ind til databasen i forbindelse med checkin med user
                // Update the form input field with the location value
                locationInput.value = response.country_code;
                changeLanguageFromLokation();

            },
            error: function (xhr, status, error) {
                // Handle error response
                console.error(status, error);
            }
        });
    }

    //Her er det meningen at vi skal bruge lokationen til at angive sproget af hjemmesiden
    function changeLanguageFromLokation() {
        // Translate form labels based on the detected language
        if (locationInput.value === 'US') {
            translateLabelsToEnglish();
        } else if (locationInput.value === 'DK') {
            translateLabelsToDanish();
        } else {
            // Default translation for other languages
            translateLabelsToDefault();
        }


        function translateLabelsToEnglish() {
            $('h2').text('Check in below');
            $('#fNameField').prev('label').text('First name:');
            $('#fNameField').attr('placeholder', 'Enter your first name');

            $('#lNameField').prev('label').text('Last Name:');
            $('#lNameField').attr('placeholder', 'Enter your last name');

            $('#licenceNumber').prev('label').text('Licence Number:');
            $('#licenceNumber').attr('placeholder', 'Enter your Licence Number');

            $('#companyField').prev('label').text('Company:');
            $('#companyField').attr('placeholder', 'Enter company name');
            $('#submitButton').text('Submit');
        }

        function translateLabelsToDanish() {
            $('h2').text('Check ind nedenunder');
            $('#fNameField').prev('label').text('Fornavn:');
            $('#fNameField').attr('placeholder', 'Indtast dit fornavn');

            $('#lNameField').prev('label').text('Efternavn:');
            $('#lNameField').attr('placeholder', 'Indtast dit efternavn');

            $('#licenceNumber').prev('label').text('Licence nummer:');
            $('#licenceNumber').attr('placeholder', 'Indtast dit licence nummer');

            $('#companyField').prev('label').text('Firma:');
            $('#companyField').attr('placeholder', 'Indtast firma navn')
            $('#submitButton').text('Bekræft');
        }

        function translateLabelsToDefault() {
            // Default translation for other languages
            $('h2').text('Check in below');
            $('#fNameField').prev('label').text('First name:');
            $('#fNameField').attr('placeholder', 'Enter your first name');

            $('#lNameField').prev('label').text('Last Name:');
            $('#lNameField').attr('placeholder', 'Enter your last name');

            $('#licenceNumber').prev('label').text('Licence Number:');
            $('#licenceNumber').attr('placeholder', 'Enter your Licence Number');

            $('#companyField').prev('label').text('Company:');
            $('#companyField').attr('placeholder', 'Enter company name');
            $('#submitButton').text('Submit');
        }
    }


</script>


</body>
</html>
